@import url(https://fonts.googleapis.com/css?family=Open+Sans);


  body{
    font-family:'Open Sans';
    background:radial-gradient(50% 100%, rgba(255,255,255,.10), rgba(255,255,255,0)),
      
               linear-gradient(90deg, rgba(50,100,170,.7) 1px, transparent 0),
               linear-gradient(180deg, rgba(50,100,170,.7) 1px, transparent 0),
      
               linear-gradient(90deg, rgba(50,100,170,.4) 1px, transparent 0),
               linear-gradient(180deg, rgba(50,100,170,.4) 1px, transparent 0),
      
               linear-gradient(90deg, rgba(50,100,170,1) 2px, transparent 0),
               linear-gradient(180deg, rgba(50,100,170,1) 2px, transparent 0);
    
    background-color:#074b97;
    
    background-size:100% 100%, 
      
                    50px 50px,
                    50px 50px,
      
                    25px 25px,
                    25px 25px,
      
                    100px 100px, 
                    100px 100px;
    
    background-attachment: local;
    
    width:100%;
    height:100%;
  }

  .card-category {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .card-category:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.4);
    transition: box-shadow 0.2s ease-in-out;
    font-size: 250%;
    transition: font-size 0.1s ease-in-out;
    background-size: 110%;
    transition: background-size 0.2s ease-in-out;
  }

  .banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  
  .cards {
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }